$color-red-0: #F2140E;
$color-red-1: #FF706C;
$color-red-2: #FA4742;
$color-red-3: #BC0904;
$color-red-4: #940400;

$color-yellow-0: #F2C10E;
$color-yellow-1: #FFE06C;
$color-yellow-2: #FAD342;
$color-yellow-3: #BC9504;
$color-yellow-4: #947400;

$color-blue-0: #2F1EA8;
$color-blue-1: #6B60C0;
$color-blue-2: #4C3FAD;
$color-blue-3: #211483;
$color-blue-4: #160B67;

$color-green-0: #0BBE17;
$color-green-1: #59D361;
$color-green-2: #34C53E;
$color-green-3: #03940D;
$color-green-4: #007508;

body.design_v2 {
    min-height: 101%;
    background-image: linear-gradient(45deg, #084298, #b0c9ef);
    ::selection {
        background: #084298;
        color: white;
    }
}

.design_v2 .main-board {
    .column {
        margin: 10px;
        width: 33.3333%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid lightgray;
        border-radius: 3px;
        background-color: #f0f0f0;

        .column-title {
            margin: 0;
            text-align: center;
            font-size: 20px;
            text-transform: uppercase;
            text-shadow: 1px 1px 2px #00000040;
            border-radius: 3px 3px 0 0;
            color: #fd3d5f;
        }
        & + .column {
            .column-title {
                color: #ff2ef9;
            }
            & + .column {
                .column-title {
                    color: #10b2ff;
                }
                & + .column {
                    .column-title {
                        color: #00a900;
                    }
                }
            }
        }

        .task-list {
            padding: 10px;
            transition: background-color 0.4s ease,
            box-shadow 0.4s ease;
            min-height: 100px;
            display: flex;
            flex-grow: 1;
            flex-direction: column;

            .task {
                padding: 10px;
                border-style: solid;
                border-radius: 5px;
                margin-bottom: 10px;
                transition: background-color 0.2s ease;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                border-width: 0;
                border-left-width: 5px;
                background-color: white;

                &.importance-0 {
                    border-color: $color-green-0;
                    h3,i {
                        color: $color-green-0;
                    }
                    .control-icons {

                        .edit-button,
                        .delete-button {
                            color: $color-green-0;
                        }
                    }
                }

                &.importance-1 {
                    border-color: $color-yellow-0;
                    h3,i {
                        color: $color-yellow-0;
                    }
                    .control-icons {

                        .edit-button,
                        .delete-button {
                            color: $color-yellow-0;
                        }
                    }
                }

                &.importance-2 {
                    border-color: $color-red-0;
                    h3,i {
                        color: $color-red-0;
                    }
                    .control-icons {

                        .edit-button,
                        .delete-button {
                            color: $color-red-0;
                        }
                    }
                }

                .task-handle {
                    width: 23px;
                    height: 23px;
                    background-color: white;
                    border: 1px solid #000;
                    border-radius: 4px;
                    margin-right: 8px;
                }

                .task-title {
                    font-weight: bold;
                    width: 100%;

                    h3 {
                        font-size: 20px;
                        margin-right: 24px;
                    }

                    i {
                        display: none;
                        position: absolute;
                        top: 0;
                        right: 5px;
                        font-size: 24px;
                    }

                    &:hover {
                        i {
                            display: block;
                        }
                    }
                }

                .flex-break {
                    flex-basis: 100%;
                    height: 0;
                }

                .task-description {
                    margin-bottom: 10px;
                    text-align: center;
                }

                .task-footer {
                    .assigned-users {
                        margin-right: 20px;

                        i {
                            float: left;
                        }

                        b {
                            padding: 0 5px;
                            border: 2px solid white;
                            border-radius: 50%;
                            background: #eee;
                            color: white;
                            font-size: 25px;
                            span{
                                display: none;
                            }
                            &:not(:first-child) {
                                margin-left:-10px;
                            }
                        }
                    }
                }

                .edit-button,
                .delete-button {
                    display: none;
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    cursor: pointer;
                    font-size: 20px;
                    margin-left: 5px;

                    &:hover {
                        color: #000;
                    }
                }

                .edit-button {
                    right: 30px;
                }

                &:hover {
                    .edit-button,
                    .delete-button {
                        display: block;
                    }
                }
            }
        }
    }
}

.modal-dialog {

    .form-label {
        font-weight: bold;
    }

    .form-task-importance {
        ul {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            -o-column-count: 3;
            column-count: 3;
            list-style-type: none;
        }
    }

    .form-task-description {
        textarea {
            height: 100px;
            resize: none;
        }
    }

    .form-task-assigned {
        ul {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            -o-column-count: 2;
            column-count: 2;
            list-style-type: none;
        }
    }

    .form-check-label {
        display: block;
        cursor: pointer;
    }

    .form-check-input {
        cursor: pointer;
    }

}